/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-tangerine: var(--font-tangerine);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
} */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-tangerine: var(--font-tangerine);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
.hex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.hex {
  --size: 160px;
  width: var(--size);
  height: var(--size);
  background: linear-gradient(rgb(255, 123, 0),rgb(255, 164, 28),rgb(161, 78, 0));
  clip-path: polygon(
    30% 0%,70% 0%,100% 30%,100% 70%,70% 100%,30% 100%,0% 70%,0% 30%
  );
  display: grid;
  place-items: center;
  transition: .2 all linear;
}
.hex-inner {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: rgb(255, 244, 235);
  background-size: cover;
  clip-path: polygon(
    30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%
  );
  font-size: 20px;
  color:#FE9A00 ;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
}
.hex:hover{
  transform: scale(1.2);

}

.forChefCard{
  @apply w-40 h-40 flex items-center justify-center
}
.forChefCard .forChefCardInner{
  @apply w-32 h-32 bg-white/5 p-5 rotate-45 relative flex justify-center items-center text-amber-400 text-xl
}
.forChefCardInner{
  border: 3px solid;
  border-image: linear-gradient(rgb(255, 166, 0),rgb(255, 171, 45),rgb(255, 145, 0)) 8;
}
.forChefCard .forChefCardInner span{
  transform:rotate(-45deg);
  text-align: center;
}